.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    width: 100%;
    position:absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0px;
    }

    .link {
        opacity: 0;
        transition: 0.3s opacity;
        width: 0;
    }
}

.collapsedBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
}

.lang {
    margin-left: 20px;
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
}

.item_link {
    display: flex;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--secondary-color)
}
