.app.dark {
  --bg-color: #080868;
  --inverted-bg-color: #a1a1a5;

  --primary-color: #07e107;
  --secondary-color: #006a00;

  --inverted-primary-color: #0831ac;
  --inverted-secondary-color: #0352ff;
}