.app.light {
  --bg-color: #a1a1a5;
  --inverted-bg-color: #080868;

  --primary-color: #03164c;
  --secondary-color: #0449e0;

  --inverted-primary-color: #02ed02;
  --inverted-secondary-color: #078007;
}